<div class="container-fluid">
<div ng-controller="ContactController">
<div class="page-header">
    <h1> Список работников </h1>
  </div>


  <!-- ===ВЕРХНЕЕ МЕНЮ=== -->
   <form class="form-search">
    <div style="padding:20px 0px 60px 0px">
      <span class="col-md-2">Поиск</span>
      <span class="col-md-4">
			<input type="text" class="form-control" ng-model="searchKeyword"/>
			</span>
      <span class="col-md-6"><button class="btn btn-success btn-lg" data-toggle="modal" data-target="#basicModalAdd"> Добавить нового сотрудника</button></span>
    </div>
  </form>


  <!-- ===МОДАЛЬНОЕ ОКНО=== -->
  <!-- Для добавления -->
  <div class="modal fade" id="basicModalAdd" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p>
            <button class="close" type="button" data-dismiss="modal">x</button>
            <b class="modal-title" id="myModalLabel1">Добавить нового работника</b>
        </div>
        <div class="modal-body">
             <div class="col-md-6">
              <label>Имя</label>
              <input class="form-control" ng-model="newcontact.name" placeholder="Имя" />
            </div>
            <div class="col-md-6">
              <label>Фамилия</label>
              <input class="form-control" ng-model="newcontact.surname" placeholder="Фамилия" />
            </div><br><br><br><br>
            <div class="col-md-6">
              <label>E-Mail</label>
              <input type="email" class="form-control" ng-model="newcontact.email" placeholder="E-mail" />
            </div>
            <div class="col-md-6">
              <label>Должность</label>
              <select class="form-control" ng-model="newcontact.post">
                <option>Programmer</option>
                <option>Analyst</option>
                <option>Enginer</option>
                <option>Architect</option>
              </select>
            </div><br><br><br><br>
            <div class="col-md-6">
              <label>Время</label>
              <input type="range" min="6" max="12" class="form-control" ng-model="newcontact.workTime" placeholder="Время работы" />
            </div>
            <div class="col-md-6">
              <label>Телефон</label>
              <input type="tel" class="form-control" ng-model="newcontact.phone" placeholder="Телефон" />
            </div><br><br><br><br>
            <div class="col-md-6">
              <input type="hidden" class="form-control" ng-model="newcontact.id" disabled="disabled" />
            </div>
          </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-click="add()" data-dismiss="modal">Сохранить</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Для редактирования -->
  <div class="modal fade" id="basicModalEdit" tabindex="-1" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <p>
                      <button class="close" type="button" data-dismiss="modal">x</button>
                      <b class="modal-title" id="myModalLabel2">Добавить нового работника</b>
              </div>
              <div class="modal-body">
                  <div class="col-md-6">
                      <label>Имя</label>
                      <input class="form-control" ng-model="contactedit.name" placeholder="Имя" />
                  </div>
                  <div class="col-md-6">
                      <label>Фамилия</label>
                      <input class="form-control" ng-model="contactedit.surname" placeholder="Фамилия" />
                  </div><br><br><br><br>
                  <div class="col-md-6">
                      <label>E-Mail</label>
                      <input type="email" class="form-control" ng-model="contactedit.email" placeholder="E-mail" />
                  </div>
                  <div class="col-md-6">
                      <label>Должность</label>
                      <select class="form-control" ng-model="contactedit.post">
                          <option>Programmer</option>
                          <option>Analyst</option>
                          <option>Enginer</option>
                          <option>Architect</option>
                      </select>
                  </div><br><br><br><br>
                  <div class="col-md-6">
                      <label>Время</label>
                      <input type="range" min="6" max="12" class="form-control" ng-model="contactedit.workTime" placeholder="Время работы" />
                  </div>
                  <div class="col-md-6">
                      <label>Телефон</label>
                      <input type="tel" class="form-control" ng-model="contactedit.phone" placeholder="Телефон" />
                  </div><br><br><br><br>
                  <div class="col-md-6">
                      <input type="hidden" class="form-control" ng-model="contactedit.id" disabled="disabled" />
                  </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-success" ng-click="save()" data-dismiss="modal">Сохранить</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
              </div>
          </div>
      </div>
  </div>



  <!-- ===СПИСОК СОТРУДНИКОВ=== -->
  <div class="panel">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>E-Mail</th>
          <th>Должность</th>
          <th>Часы</th>
          <th>Телефон</th>
          <th>Изменить</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts | filter: searchKeyword | startFrom:currentPage*pageSize | limitTo:pageSize">
          <td>{{contact.name}}</td>
          <td>{{contact.surname}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.post}}</td>
          <td>{{contact.workTime}}</td>
          <td>{{contact.phone}}</td>
          <td>
            <button class="btn btn-primary" data-toggle="modal" data-target="#basicModalEdit" ng-click="edit(contact.id)">Редактировать</button>
            <button ng-click="delete(contact.id)" class="btn btn-danger">Удалить</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Preview" ng-click="previousPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">{{currentPage+1}}/{{numberOfPages()}}</a></li>
        <li ng-class="{'disabled': check()}">
          <a href="#" aria-label="Next" ng-click="nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul> </nav>
</div>
</div>
